


<ion-content class="content">
<ion-header collapse="fade">
<ion-toolbar color="mycolor" >

<ion-icon [routerLink]="['/tabs/tab2']" size="large" slot="start" name="chevron-back" class="icon"></ion-icon>

  <ion-title class="title" >Volver a noticias</ion-title>

<ion-tab-button (click)="presentPopover($event)" color="mycolor" slot="end">
  <h2 >A <span>A</span></h2>
</ion-tab-button>


</ion-toolbar>
</ion-header>

  <ion-card class="container">
    <ion-card-header text-center>
<ion-card-title >
  <h1  [innerHTML]="notice.title.rendered"></h1>
</ion-card-title>
    </ion-card-header>

    <div class="img-container">
      <ion-img class="img" [src]="notice.jetpack_featured_media_url"></ion-img>
    </div>

<div  class="div-text predeterminado"   [innerHTML]="notice.content.rendered">


</div>

  </ion-card>


</ion-content>
<ion-footer >
  <ion-button color="light" [routerLink]="['/tabs/tab2']" class="button-back">X</ion-button>
</ion-footer>
