<ion-header translucent>
  <div class="class-hear">
    <ion-toolbar color="mycolor" translate="yes">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    <label> <h2>Directorio Universitario</h2> </label>
  </div>
</ion-header>
<div class="class-buscador">
  <ion-searchbar [(ngModel)]="name" (ionChange)="searchUser($event)" mode="ios" placeholder="Buscar" animated>
  </ion-searchbar>
</div> 
<ion-content>
  <div class="list">
    <ion-list>
      <ion-item *ngFor="let item of name ">

        <ion-avatar slot="start">
          <img src="../../../assets/fotos/logo.png" alt="">
        </ion-avatar>

        <ion-label>

          <h3>item</h3>

        </ion-label>

      </ion-item>

    </ion-list>
  </div>


</ion-content>