
<ion-header translucent>

    <ion-toolbar color="mycolor" >
      <ion-buttons slot="start" >
        <ion-back-button text="" mode="ios" ></ion-back-button>
      </ion-buttons>
      <ion-title mode="ios">  Directorio  </ion-title>
    </ion-toolbar>
   
</ion-header>

<ion-content>

  <div class="class-buscador">
    <ion-searchbar [(ngModel)]="name" (ionChange)="searchUser($event)" mode="ios" placeholder="Buscar" animated (click)="MostrarLista()">
    </ion-searchbar>
  </div>

  <div *ngIf="!mostrarImagen" class="info">
  <img src="../../../assets/fotos/Data analytics _Outline.png" alt="">
  <h2>Busca la informacion deseada</h2>
  <p> Aqui encontraras la informacion mas relevante de los profesores estudiantes y trabajadores</p>
  </div>

  <ion-list lines="none">
    <ng-container *ngFor="let i of counts">
     
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="person-outline" color="primary" item-start>  </ion-icon>
        </ion-avatar >
         {{data[i].displayname[0]}}
         {{data[i].description[0]}}
      </ion-item >

    </ng-container>

  </ion-list>

</ion-content>