.ionfooter-card{
    font-size: 25px;
}
ion-searchbar{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
ion-card {
    position: relative;
    text-align: center;
}
.categorytitle{
text-align: center;
size: 20px;
}

