ion-searchbar {
    margin-top: 5px;
    margin-bottom: 5px;

}

ion-content {
    ion-toolbar {
        .titulo {

            width: 100%;

            ion-title {
                font-size: 6vw;
                font-weight: 1000;
                align-self: flex-start;
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }

    }

}


@media only screen and (min-width: 600px) {
    ion-title {
        font-weight: 1000;

        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

//en dependencia de la pantalla se mostrara el scrollbar
@media only screen and (max-width: 600px) {

    // Hide scrollbar for IE, Edge and Firefox
    ion-content::part(scroll) {
        -ms-overflow-style: none; // IE and Edge
        scrollbar-width: none; // Firefox
    }

    // Hide scrollbar for Chrome, Safari and Opera
    ion-content::part(scroll)::-webkit-scrollbar {
        display: none;
    }
}