<ion-content>
  <div class="login">
    <div class="form-container">
      <img src="../../assets/icon/Identidad-a-color.png" alt="" class="logo">
      <form (ngSubmit)="autenticarse()"  class="form" #myForm="ngForm">
        <ion-item lines="none">
          <ion-label class="label">
            Usuario
          </ion-label>
        </ion-item>
        <ion-input type="text" placeholder="Introduzca su usuario" class="input input-usuario" name="usuario" required #usuarioinput="ngModel" [(ngModel)]="login.usuario"></ion-input>
        <ion-item lines="none">
          <ion-label class="label">
            Contaseña
          </ion-label>
        </ion-item>
        <ion-input type="password" placeholder="*********" class="input input-contrasena" name="contrasena" required #contrasenainput="ngModel" [(ngModel)]="login.contrasena"></ion-input>
        <ion-button [disabled]="myForm.invalid" type="submit"  class="login-button" >Entrar</ion-button>
      </form>
    </div>

  </div>

</ion-content>





