<ion-header [translucent]="true" class="header-content">
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar> 
  <ion-card class="card-content">
    <img src="" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-content">
    <div class="row-container">
        <ion-row class="row1">
            <ion-list>
                <ion-item class="item" lines="none" button (click)="irNotas">
                  <ion-label>Mis notas</ion-label>
                  <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
                </ion-item>
                <ion-item class="item" lines="none" button (click)="irCorreo">
                  <ion-label>Correo</ion-label>
                  <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-list>
          </ion-row>
    </div>
    <div class="row-container">
        <ion-row class="row2">
            <ion-list>
                <ion-item class="item" lines="none" button onclick="">
                  <ion-label>Configuracion</ion-label>
                  <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
                </ion-item>
                <ion-item class="item" lines="none" button onclick="">
                  <ion-label>Datos y almacenamiento</ion-label>
                  <ion-icon class="icon" name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-list>
          </ion-row>
    </div>
    
  </ion-grid>
</ion-content>
