.login{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;

}
.logo{
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: block;
}
.form{
  display: flex;
  flex-direction: column;
}
.label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.input{
  background-color:  var(--ion-color-background-input-login);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 12px;
}
.input-contrasena{
  margin-bottom: 22px;

}
.login-button{
  background-color:  var(--ion-color-background-login);
  border-radius: 8px;
  border: none;
  color: var(--ion-color-mycolor-contrast);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin-top: 14px;
  margin-bottom: 30px;
}
@media(max-width: 640px){
  // .logo{
  //     display: block;
  // }
  // .login-button{
  //    position: absolute;
  //    bottom: 20px;
  //    width: inherit;
  // }
}
