<ion-content scroll-y="true">
  <div class="seccion-perfil-usuario">
    <ion-header [translucent]="true" class="perfil-usuario-header">
      <div  class="perfil-usuario-portada">
        <!-- <div class="perfil-usuario-avatar">
          <img src="../../../assets/icon/favicon.png" />
        </div> -->
        </div>
      </ion-header>

      <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
          <ion-list>
            <ion-item lines="none">
              <ion-label class="titulo">
                Laura Elena Mesa
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="correo">
                lemesa17@nauta.com.cu
              </ion-label>
            </ion-item>
           </ion-list>
        </div>
        <div class="perfil-usuario-footer">
          <ion-list class="lista" *ngFor="let item of items">
            <ion-item button (click)="buttonClick()" lines="none" class="button">
              <ion-label>
                {{item}}
                <ion-icon name="chevron-forward-outline" class="icono"></ion-icon>
              </ion-label>
            </ion-item>

          </ion-list>
        </div>
      </div>
  </div>

</ion-content>
