* {
    font-family: lato;
}

.header-menu {
    height: 180px;
    width: 450px;
    background-color: var(--ion-color-mycolor);
    background-color: linear-gradient(90deg, --ion-color-primary);
    box-shadow: 0px 1px 10px #04080c80;
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content-menu {
    position: absolute;
    top: 30px;
    left: 10px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px var(--ion-color-mycolor);
        margin-right: 14px;
    }

    h2 {
        font-weight: 300;
        color: #fff;
    }

    p {
        font-size: 12px;
        color: #fff;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.spread {
    transform: translate(50);
}

.hamburge {
    top: 20px;
    right: 20px;
    background: #fff;
    width: 30px;
    height: 30px;

    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}