<ion-content [fullscreen]="true">
  <ion-menu side="start" menuId="first" contentId="main" mode="ios">
    <div class="header-menu"></div>
    <div class="header-content-menu">
      <img src="../../assets/fotos/logo.png" alt="">
      <ion-label>
        <h2>Servicios Universitarios</h2>
        <p>Lorem ipsumi</p>
      </ion-label>
    </div>
    <ion-content>
      <ion-list lines="none">
        <ng-container *ngFor="let item of lista">
          <ion-item [routerLink]="[ item.direccion]">
            <ion-avatar slot="start">
              <ion-icon name="{{item.icon}}" color="primary" item-start> </ion-icon>
            </ion-avatar>
            {{item.name }}
          </ion-item>

        </ng-container>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">

    <ion-toolbar>
      <ion-buttons slot="start" color="mycolor">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>UPR-k</ion-title>
    </ion-toolbar>

  </div>
</ion-content>