ion-container{
ion-grid{
    margin-top: 10px;
    ion-row {
      ion-col{
     
        .ion-card {
            margin-top: 10px;
         
            margin: 10px 10px 10px 10px;
            min-height: 100px;
            min-width: 100px;
            height: 100%;
        
          }
      }
       
      }


}

}


