

div{
ion-grid{
  display: flex;
  justify-content: space-between;
    margin :10px 10px 10px 10px;
    ion-row {
     
      ion-col{
        margin-bottom: 10px;
          margin-top: 10px;
        
ion-card {
  margin: 10px 10px 10px 10px;
    min-height: 100px;
    min-width: 100px;
    height: 100%;
  ion-card-header{
    ion-card-title{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 900;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
     
    }


  }

  } }}
       
      }
ion-card-content {
   font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
ion-note {
    margin: 0%;
    font-weight: 900;

  }

}
ion-row{
  ion-col .fecha {
    margin-right: 20px;
    font-weight: 900;


  }
 
}

}




